<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUIDEConnectionString" connectionString="SeS+t1j3FyovEtS83yyfVQOaDeu4WYrwwfpVt0fehy+ypuLuPD/jmfV2tibGMRApyayz65XOsOw4JMP3RV0aCkU1GAiuKzdS9wXRFArzx0vuWYW1NmFc6wYVUZm8aW/cEi3uKhFdTgwIAnRU5qnclg==" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
