<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUIDEConnectionString" connectionString="Data Source=EMEWE-PC;Initial Catalog=GUIDE;Persist Security Info=True;User ID=sa;Password=yangyunping123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>