<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUIDEConnectionString" connectionString="SeS+t1j3FyprqjfzPn4N4HJ4DL4STVGZ7fCet60dR7U2FzFJdyMLBILj0QYBPSZTDd9V/HJCxTBcFgGUcGAGiKTCh9rx3H2nZC8usiB6yXQQxXTMyA+FdCt0HbpUdJ8s" providerName="System.Data.SqlClient"/>
    </connectionStrings>
   <appSettings>
       <add key="sEncryptionKey"   value="emewesoft"/>
   </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
